# Description: Example of .env file
# Usage: Copy this file to .env and change the values
#        according to your needs
#        Do not commit .env file to git
#        Do not change .env.example file
# 　　　 You can set up a superuser's username and password
#        If there is no need for user management, set KOZMOAI_AUTO_LOGIN=true and delete KOZMOAI_SUPERUSER and KOZMOAI_SUPERUSER_PASSWORD.

KOZMOAI_AUTO_LOGIN=false
KOZMOAI_SUPERUSER=admin
KOZMOAI_SUPERUSER_PASSWORD=123456